---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ItemCard from "../components/ItemCard";
import ModalCarousel from "../components/ModalCarousel";
import Title from "../components/Title.astro";
import products from "../data/products.json";
---

<html lang="es">
  <head>
    <BaseHead title="Productos" description="Nuestros productos" />
  </head>
  <body class="bg-wood-light">
    <main>
      <Header />

      <section class="max-w-6xl mx-auto pt-13 pb-8 px-6 text-center">
        <Title title="Nuestros Productos">
          Descubre nuestra selección de productos artesanales hechos a mano con
          dedicación y pasión. Cada pieza refleja la tradición y el arte de la
          artesanía asturiana.
        </Title>
      </section>

      <!-- Grid responsivo: 1 columna en móvil, 2 en pantallas md en adelante -->
      <div
        class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 p-4 md:px-8 lg:px-12"
      >
        {products.map((producto) => <ItemCard {...producto} client:load />)}
      </div>

      <ModalCarousel client:only="react" />

      <Footer />
    </main>
  </body>
</html>
