---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ItemCard from "../components/ItemCard.astro";
import products from "../data/products.json";
---

<html lang="es">
	<head>
		<BaseHead title="Productos" description="Nuestros productos" />
	</head>
	<body>
		<main>
			<Header />
			<div class="grid grid-cols-1 md:grid-cols-2 gap-6 px-6 py-4 bg-wood-light">
				{products.map((product) => (
				  <ItemCard {...product} />
				))}
			  </div>

			  <Footer/>
		</main>
	</body>
</html>
